<h1>Welcome to Silly answers to Silly questions!</h1>


<h2 class="question">
Question: 
</br>
<%= params["question"] %>
</h2>


<h2 class="answer">
Coach's answer:
</br>
<%= @answer %>
</h2>


<%= link_to "Ask another Question", ask_path, class:"link" %>